html {
    box-sizing: border-box;
}

*, :after, ::before {
    box-sizing: inherit;
}

.body {
    color: #234e70;
    background-color: #EEE;
    max-width: 1000px;
    margin: 10px auto 0px;
    padding: 0 10px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
}

.header {
    text-align: center;
}